

:root {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
@mixin flex($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    .wrapper {
        @include flex(row);
        .banner{
            @include flex(column);
            position: relative;
            flex-wrap: wrap;
            flex: 1 1 0;
            height: 100vh;
            max-width: 30vw;
            min-width: 30vw;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../img/annie-spratt-LtD7qn9k108-unsplash.jpg);
            .title {
                position: absolute;
                top: 20%;
                flex-wrap: wrap;
                @include flex(row);
                background-color: rgba(2, 2, 2, 0.5);
                color: rgb(184, 184, 184);
                width: 100%;
                img{
                    height: 6em;
                }
                h1 {
                    font-family: 'Potta One', cursive;
                    font-size: 3em
                }
            }
        }
        form {
            @include flex(column);
            width: 70vw;
            height: 100vh;
            align-items: flex-start;
            background-color: rgb(189, 188, 188);
            .description {
                min-height: 35vh;
                max-height: 35vh;
                padding: 0% 5% ;
                @include flex(column);
                align-items: flex-start;
                p {
                    font-size:  1.5rem
                }
                .bold {
                    font-weight: bold;
                    font-style: italic
                }
               
            }
            .input-wrapper{
                @include flex(column);
                align-items: flex-start;
                max-height: 35vh;
                min-height: 35vh;
                flex: 1 1 auto;
                width: 90%;
                padding: 0% 5%;
                background-color: rgb(255, 255, 255);
                box-shadow: -1px 5px 10px black;
                h3 {
                    font-size: 1.5em;
                }
                .inputs {
                    margin: 2% 0% 2% 0%;
                    @include flex(row);
                    align-items: flex-start;
                    gap: 2.5em;
                    width: 100%;
                    flex: 1 1 auto;
                    justify-content: flex-start;
                    .left, .right {
                        @include flex(column);
                        align-items: flex-start;
                        div {
                            color: red;
                        }
                        label {
                            margin-top: 10px;
                        }
                        input {
                            width: 90%;
                            border: 1px solid black;
                            border-radius: 5px;
                            height: 1.5em;
                            margin: 0.5em 0em;
                            box-shadow: 2px 2px 5px black;
                            &:invalid {
                                border: 1px solid rgb(153, 4, 4); 
                            }
                            &:valid {
                                border: 1px solid rgb(16, 153, 4); 
                            }
                            &:focus {
                                border: 1px solid black;
                                width: 90%; 
                                height: 1.5em;
                            }
                        }
                        input:placeholder-shown {
                            border: 1px solid rgb(75, 75, 75); 
                        }
                    }
                } 
            } 
            .submit {
                @include flex(column);
                height: 30vh;
                margin: 5%;
                align-items: flex-start;
                
                button {
                    height: 3em;
                    width: 12em;
                    font-weight: bold;
                    text-shadow: 2px 2px 5px black;
                    background-color: rgb(42, 194, 11);
                    border: none;
                    border-radius: 0.5em;
                    box-shadow: 5px 5px 10px black;
                    &:focus{
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}
